version: "3.9"

services:

  postgres:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_DB: visualapi
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: visual_api
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=visualapi;Username=postgres;Password=postgres

volumes:
  postgres_data:
